<template name="palette">
 
  <div class="row">
    <h3>Brushes</h3>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <button class='clear'>Clear</button>
    </div>
    <div class="col-xs-2">
      <button class='brush-small'>Small Brush</button>
    </div>
    <div class="col-xs-2">
      <button class='brush-medium'>Medium Brush</button>
    </div>
    <div class="col-xs-2">
      <button class='brush-large'>Large Brush</button>
    </div>
    <div class="col-xs-2">
      <button class='thinner'>Thinner</button>
    </div>
    <div class="col-xs-2">
      <button class='thicker'>Thicker</button>
    </div>
  </div>
  
  <div class="row">
    <h3>Colors</h3>
  </div>
  <div class="row">
    <!-- color buttons -->
    <div class="col-xs-2 col-sm-6">
      <button class='red'>Red</button>
    </div>
    <div class="col-xs-2 col-sm-6">
      <button class='blue'>Blue</button>
    </div>
    <div class="col-xs-2 col-sm-6">
      <button class='green'>Green</button>
    </div>
    <div class="col-xs-2 col-sm-6">
      <button class=''>color</button>
    </div>
    <div class="col-xs-2 col-sm-6">
      <button class=''>color</button>
    </div>
    <div class="col-xs-2 col-sm-6">
      <button class=''>color</button>
    </div>
    <div class="col-xs-2 col-sm-6">
      <button class='black'>Black</button>
    </div>
    <div class="col-xs-2 col-sm-6">
      <button class='white'>White</button>
    </div>
  </div>
  <div class="row">
    <!-- custom color picker -->
    <p>custom color picker goes here</p>
  </div>
  
</template>