<template name="palette">
  <div id="palette">


    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center">Options</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-6">
        <button class='clear btn btn-default btn-sm'>Clear</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='brush-small btn btn-default btn-sm'>Small Brush</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='brush-medium btn btn-default btn-sm'>Medium Brush</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='brush-large btn btn-default btn-sm'>Large Brush</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='thinner btn btn-default btn-sm'>Thinner</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='thicker btn btn-default btn-sm'>Thicker</button>
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center">Colors</h3>
      </div>
    </div>
    
    <div class="row">
      <!-- color buttons -->
      <div class="col-xs-2 col-sm-6">
        <button class='black colorBox'>Black</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='white colorBox'>White</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='red colorBox'>Red</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='blue colorBox'>Blue</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='green colorBox'>Green</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='yellow colorBox'>Yellow</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='orange colorBox'>Orange</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='purple colorBox'>Purple</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='cyan colorBox'>Cyan</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='goldenrod colorBox'>GoldenRod</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='fuchsia colorBox'>Fuchsia</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='lime colorBox'>Lime</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='maroon colorBox'>Maroon</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='olive colorBox'>Olive</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='orchid colorBox'>Orchid</button>
      </div>
      <div class="col-xs-2 col-sm-6">
        <button class='slategray colorBox'>Slate Gray</button>
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <label for="customColor">Custom Color</label>
        <input type="color" class="btn btn-default btn-sm" name="customColor" id="customColor" />
      </div>
    </div>

  </div>
</template>